#modalBackground
{
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
z-index: 9000;
background-color:#000;
display: none;
opacity: 0.5;
filter: alpha(opacity=50)
}

#modalWindow {
display: none;
/* NSTEIN TN - Modified For RelaxNews - 2009.03.13 - BEGIN */
/*width: 400px;*/
/* NSTEIN TN - Modified For RelaxNews - 2009.03.13 - END */
background: transparent url("../images/gui/bg-black-opacity-50.png") top left repeat;
padding: 7px;
margin: auto;
margin-top: -100px;
text-align: left;
font-size: 1em;
font-family: verdana, arial, sans-serif;
position: fixed;
top: 0;
z-index: 10000;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

#modalWindow h2 {
padding: 7px 12px 7px 12px;
margin: 0 0 0 0;
font-size: 1em;
background: url("../images/gui/bg-black-opacity-50.png") top left repeat;
color: #FFF;
border-bottom: 1px solid #CCC;
}

#modalDialog {
    background: #FFF;
    padding-top: 20px;
border-bottom: 1px solid #000;
}

#modalDialog .wait {
    margin-top: -10px;
}

#modalDialog textarea {
    font-family: Arial;
    font-size: 12px;
    width: 95%;
    margin: 0 10px 10px;
}

#modalWindow li {
    margin-left: 10px;
    list-style: none;
    padding-left: 20px;
}

#modalWindow fieldset {
border: 0;
margin: 0 0 0 0;
padding: 0 20px 0 20px;
}

#modalWindow fieldset ul {
clear: left;
margin: 0 0 0 0;
padding: 0 0 0 0;
}

#modalWindow fieldset ul li {
margin: 0 0 0 0;
padding: 0 0 0 0;
list-style-type: none;
clear: both;
}

#modalWindow fieldset ul li label {
display: block;
font-size: 12px;
float: left;
width: 100px;
margin: 0px 0 10px 0;
padding: 0 0 0 0;
text-align: left;
}

#modalWindow fieldset ul li input {
border: 1px solid silver;
width: 250px;
float: right;
margin: 0 0 10px 0;
padding: 2px;
font-size: 14px;
}

#modalWindow fieldset ul li textarea {
border: 1px solid silver;
width: 250px;
float: right;
margin: 0 0 10px 0;
padding: 2px;
font-size: 14px;
}

#modalWindow fieldset ul li input[type='checkbox'] {
width: 16px;
float: left;
border: none;
}


#modalWindow ul.toolbar {
text-align: right;
display: block;
height: 40px;
margin: 0 20px 0 0;
padding: 0 0 0 0;
}

#modalWindow ul.newtask {
margin: 0 70px 0 0;
text-align: left;
}

#modalWindow ul.toolbar li {
display: block;
float: right;
margin: 0 0 0 5px;
padding: 0 0 0 0;
list-style-type: none;
}

#modalWindow ul.toolbar li a {
display: block;
float: left;
text-align: left;
margin: 0 0 0 0;
padding: 5px 10px 5px 22px;
font-size: 11px;
font-family: helvetica, arial, sans-serif;
text-decoration: none;
background-repeat: no-repeat;
background-position: 96% 50%;
width: auto;
color: #000;
background: url("../images/gui/cross.png") 2px 2px no-repeat;
background-color: #EAF3FA;
border: 1px solid #b1cee5;
height: 11px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}

#modalWindow ul.toolbar li a.save {
    font-weight: bold;
    background: url("../images/gui/disk.png") 2px 2px no-repeat;
}

#modalWindow ul.toolbar li a.yes {
    background: url("../images/gui/tick.png") 4px 2px no-repeat;
}

#modalWindow ul.toolbar li a.no {
    background: url("../images/gui/slash.png") 4px 2px no-repeat;
}

#modalWindow ul.toolbar li a.ok {
    background: url("../images/gui/tick.png") 4px 2px no-repeat;
}

#modalWindow ul.toolbar li a.cancel {
    background: url("../images/gui/undo.png") 4px 2px no-repeat;
}

#modalWindow ul.toolbar li a.add {
    background: url("../images/gui/document-plus.png") 4px 2px no-repeat;
}

#modalWindow ul.toolbar li a.replace {
    background: url("../images/gui/arrow-refresh.png") 4px 2px no-repeat;
}


#modalWindow ul.toolbar li a:hover {
background-color: #E0E0E0;
color: black;
border: 1px solid black;
}

#modalWindow ul.toolbar li a.inactive {
color: #E0E0E0;
border: 1px solid #E0E0E0;
cursor: default;
}

#modalWindow ul.toolbar li a.inactive:hover {
color: #E0E0E0;
border: 1px solid #E0E0E0;
cursor: default;
background-color: #f4f4f4;
}

#modalWindow #checkbxs {
    margin-bottom: 15px;
    margin-left: 10px;
    clear: both;
}

#modalWindow #checkbxs label {
    margin-right: 10px;
}

#modalWindow #checkbxs label input {
    vertical-align: middle;
    border: 0px !important;
    margin-top: -1px;
}
